<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <link href="../static/css/custom.css"
          th:href="@{/css/custom.css}" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"
          rel="stylesheet"/>

    <script src="../static/js/jquery-1.12.3.min.js"
            th:src="@{/js/jquery-1.12.3.min.js}">
    </script>

    <script src="../static/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}">
    </script>

    <script src="../static/js/Chart.min.js"
            th:src="@{/js/Chart.min.js}"/>

    <title>Personal data :: Health-Keeper</title>

    <script th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener("DOMContentLoaded", function(event) {
            var t = [[${result}]];
            console.log(t);
            var dataset;
            dataset = [];
            var labels = [];
            for(var i = 0; i < t.length; i++){
                var thisDiv = t[i]; // element
                dataset.push(thisDiv);
                var d = new Date();
                var lab = String(d.getHours()) + ":" + String(d.getMinutes()) + ":" + String(d.getSeconds());
                labels.push(lab);
            }

            var ctx = document.getElementById("myChart");
            var data = {
                labels: [[${labels}]],
                datasets: [
                    {
                        label: [[${parameterName}]],
                        data: dataset,
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        borderWidth: 1,
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        spanGaps: false,
                    }
                ]
            };

            var lineChart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        xAxes: [{
                            stacked: true
                        }],
                        yAxes: [{
                            scaleOverride : true,
                            scaleSteps : 10,
                            scaleStepWidth : (([[${max}]] * 1.1) / 10),
                            scaleStartValue : ([[${min}]] * 0.9)
                        }]
                    },
                    responsive: true
                }
            });
        });

        getElementsByClassName("example");
        /*]]>*/
    </script>

</head>

<body>

    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--/navbar-toggle-->
                <a class="navbar-brand" href="/">
                    <i class="fa fa-medkit" aria-hidden="true"></i> Health Keeper
                </a>
            </div><!--/navbar-header-->

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAuthenticated()">
                        <a href="/person/data">Personal data</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/logout">Logout</a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a href="/login">Login</a>
                    </li>
                </ul><!--/navbar-nav-->
            </div><!--/navbar-collapse-->
        </div><!--/container-->
    </nav><!--/navbar-->

<div class="container" id="content-box">

    <div class="row" style="margin-top: 20px">
        <div class="alert alert-danger text-center" role="alert">
            <strong>Warning!</strong> You might have an accident:
            <strong th:text="${accident}">
            </strong>!
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default" id="parameter-box">

            <div class="panel-heading">
                Parameters
            </div>

            <div class="list-group">

                <a href="#" th:href="@{?parameterType=systolic_press}"
                   class="list-group-item" attr="systolic_press">
                   Systolic pressure
                </a>

                <a href="#" th:href="@{?parameterType=diastolic_press}"
                   class="list-group-item" attr="diastolic_press">
                   Diastolic pressure
                </a>

                <a href="#" th:href="@{?parameterType=heart_rate}"
                   class="list-group-item" attr="heart_rate">
                   Heart rate
                </a>

                <a href="#" th:href="@{?parameterType=temperature}"
                   class="list-group-item" attr="temperature">
                   Body temperature
                </a>

                <a href="#" th:href="@{?parameterType=saturation}"
                   class="list-group-item" attr="saturation">
                   Blood oxygen saturation
                </a>

                <a href="#" th:href="@{?parameterType=glucose}"
                   class="list-group-item" attr="glucose">
                   Blood glucose content
                </a>

                <a href="#" th:href="@{?parameterType=cholesterol}"
                   class="list-group-item" attr="cholesterol">
                   Blood cholesterol content
                </a>

                <a href="#" th:href="@{?parameterType=alcohol}"
                   class="list-group-item" attr="alcohol">
                   Blood alcohol content
                </a>

                <a href="#" th:href="@{?parameterType=skin_resistance}"
                   class="list-group-item" attr="skin_resistance">
                   Electrodermal response
                </a>

                <a href="#" th:href="@{?parameterType=step_rate}"
                   class="list-group-item" attr="step_rate">
                   Steps
                </a>

            </div><!--/list-group-->

        </div><!--/panel-->

    </div><!--/col-sm-3-->

    <div class="col-sm-9">

        <h3>Parameter value change</h3>

        <canvas id="myChart"></canvas>

    </div>

</div>

</body>
</html>
