<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Health-Keeper</title>

    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!--<script src="../static/js/jquery-1.12.3.min.js"-->
    <!--th:src="@{/js/jquery-1.12.3.min.js}">-->
    <!--</script>-->

    <!--<script src="../static/js/bootstrap.min.js"-->
    <!--th:src="@{/js/bootstrap.min.js}">-->
    <!--</script>-->

    <script src="../static/js/Chart.min.js"
            th:src="@{/js/Chart.min.js}"/>

    <script th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener("DOMContentLoaded", function(event) {
            console.log("Bandziorno");
            var t = [[${result}]];
            console.log(t);
            var dataset;
            dataset = [];
            var labels = [];
            for(var i = 0; i < t.length; i++){
                var thisDiv = t[i]; // element
                dataset.push(thisDiv);
                var d = new Date();
                var lab = String(d.getHours()) + ":" + String(d.getMinutes()) + ":" + String(d.getSeconds());
                labels.push(lab);
            }

            var ctx = document.getElementById("myChart");
            var data = {
                labels: labels,
                datasets: [
                    {
                        label: "Cholesterol",
//                backgroundColor: [
//                    'rgba(75, 192, 192, 0.2)',
//                    'rgba(75, 192, 192, 0.2)',
//                    'rgba(75, 192, 192, 0.2)',
//                    'rgba(75, 192, 192, 0.2)',
//                    'rgba(75, 192, 192, 0.2)',
//                    'rgba(75, 192, 192, 0.2)'
//                ],
//                borderColor: [
//                    'rgba(255,99,132,1)',
//                    'rgba(255,99,132,1)',
//                    'rgba(255,99,132,1)',
//                    'rgba(255,99,132,1)',
//                    'rgba(255,99,132,1)',
//                    'rgba(255,99,132,1)'
//                ],
                        borderWidth: 1,
                        data: dataset,
                    }
                ]
            };

            var myBarChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    scales: {
                        xAxes: [{
                            stacked: true
                        }],
                        yAxes: [{
                            scaleOverride : true,
                            scaleSteps : 10,
                            scaleStepWidth : 10,
                            scaleStartValue : 90
                        }]
                    },
                    responsive: true
                }
            });
        });

        getElementsByClassName("example");
        /*]]>*/
    </script>
</head>
<body>

<div class="container">
    <div class="parameter-chart-panel">
        <div class="row">
            <div class="col-sm-3">
                <!--TODO ODZIABAĆ TO MOŻE JS-EM?-->
                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" th:href="@{/parameter?parameterType=systolic_press}"
                           class="parameter-button btn btn-info btn-block" attr="systolic_press">Systolic pressure</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" th:href="@{/parameter?parameterType=diastolic_press}"
                           class="parameter-button btn btn-info btn-block" attr="diastolic_press">Diastolic pressure</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" th:href="@{/parameter?parameterType=heart_rate}"
                           class="parameter-button btn btn-info btn-block" attr="heart_rate">Heart rate</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" th:href="@{/parameter?parameterType=temperature}"
                           class="parameter-button btn btn-info btn-block" attr="temperature">Temperature</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" th:href="@{/parameter?parameterType=saturation}"
                           class="parameter-button btn btn-info btn-block" attr="saturation" >Saturation</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" th:href="@{/parameter?parameterType=glucose}"
                           class="parameter-button btn btn-info btn-block" attr="glucose">Glucose</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" th:href="@{/parameter?parameterType=cholesterol}"
                           class="parameter-button btn btn-info btn-block" attr="cholesterol">Cholesterol</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" th:href="@{/parameter?parameterType=alcohol}"
                           class="parameter-button btn btn-info btn-block" attr="alcohol">Alcohol</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" th:href="@{/parameter?parameterType=skin_resistance}"
                           class="parameter-button btn btn-info btn-block" attr="skin_resistance">Skin resistance</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" th:href="@{/parameter?parameterType=step_rate}"
                           class="parameter-button btn btn-info btn-block" attr="step_rate">Step rate</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" th:href="@{/parameter?parameterType=gps_position}"
                           class="parameter-button btn btn-info btn-block" attr="gps_position">GPS</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

</div>

</body>
</html>