<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Health-Keeper</title>

    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/custom.css"
          th:href="@{/css/custom.css}" rel="stylesheet"/>

    <!--<script src="../static/js/jquery-1.12.3.min.js"-->
            <!--th:src="@{/js/jquery-1.12.3.min.js}">-->
    <!--</script>-->

    <!--<script src="../static/js/bootstrap.min.js"-->
            <!--th:src="@{/js/bootstrap.min.js}">-->
    <!--</script>-->

    <script src="../static/js/Chart.min.js"
            th:src="@{/js/Chart.min.js}"/>

    <script th:inline="javascript">
/*<![CDATA[*/
document.addEventListener("DOMContentLoaded", function(event) {
    console.log("Bandziorno");
    var t = [[${result}]];
    console.log(t);
    var dataset;
    dataset = [];
    var labels = [];
    for(var i = 0; i < t.length; i++){
        var thisDiv = t[i]; // element
        dataset.push(thisDiv);
        var d = new Date();
        var lab = String(d.getHours()) + ":" + String(d.getMinutes()) + ":" + String(d.getSeconds());
        labels.push(lab);
    }

    var ctx = document.getElementById("myChart");
    var data = {
        labels: labels,
        datasets: [
            {
                label: "Cholesterol",
//                backgroundColor: [
//                    'rgba(75, 192, 192, 0.2)',
//                    'rgba(75, 192, 192, 0.2)',
//                    'rgba(75, 192, 192, 0.2)',
//                    'rgba(75, 192, 192, 0.2)',
//                    'rgba(75, 192, 192, 0.2)',
//                    'rgba(75, 192, 192, 0.2)'
//                ],
//                borderColor: [
//                    'rgba(255,99,132,1)',
//                    'rgba(255,99,132,1)',
//                    'rgba(255,99,132,1)',
//                    'rgba(255,99,132,1)',
//                    'rgba(255,99,132,1)',
//                    'rgba(255,99,132,1)'
//                ],
                borderWidth: 1,
                data: dataset,
            }
        ]
    };

    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: {
            scales: {
                xAxes: [{
                    stacked: true
                }],
                yAxes: [{
                    scaleOverride : true,
                    scaleSteps : 10,
                    scaleStepWidth : 10,
                    scaleStartValue : 90
                }]
            },
            responsive: true
        }
    });
});
/*]]>*/
    </script>
</head>

<body>

    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--/navbar-toggle-->
                <a class="navbar-brand" href="/">Health Keeper</a>
            </div><!--/navbar-header-->

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAuthenticated()">
                        <a href="/person/1/data">Personal data</a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a href="/login">Login</a>
                    </li>
                </ul><!--/navbar-nav-->
            </div><!--/navbar-collapse-->
        </div><!--/container-->
    </nav><!--/navbar-->

<div class="container" id="content-box">
    <div class="parameter-chart-panel">
    <div class="row">
        <div class="col-sm-3">

            <div class="row">
                <div class="col-sm-12">
                    <p th:data="systolic_press">Systolic pressure</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p th:data="diastolic_press">Diastolic pressure</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p th:data="heart_rate">Heart rate</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p th:data="temperature">Temperature</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p th:data="saturation" >Saturation</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p th:data="glucose">Glucose</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p th:data="cholesterol">Cholesterol</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p th:data="alcohol">Alcohol</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p th:data="skin_resistance">Skin resistance</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p th:data="step_rate">Step rate</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p th:data="gps_position">GPS</p>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    </div>

</div>

</body>
</html>
